body {
  padding: 0;
  margin: 0;
  background-color:rgba(13,76,121,1);
  background-image: url(images/leaguebckg.jpeg);
  background-size: cover;

  background-repeat: no-repeat;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;


}
img {

  border-radius: 20px 20px 20px 20px;
}
.square {
  
  height: 780px;
  width: 600px;
  background-color:RGBA(217,217,217,1);
  position: absolute; /* Add this line */
  top: 100; /* Adjust as needed */
  left: 100; /* Adjust as needed */
  z-index: -1; /* Change z-index value */
  border-radius: 75px;
}
.container1 img{
  width: 250px;
  margin: 50px ;
  margin-top:-20px;
}
.container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.container1 h1 {
  margin: -50px;
  font-size: 30pt;
}
.container1 h2 {
  margin: 50px;
  font-size: 30pt;
}

.container2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: -50px;
}

.container2 img{

  width: 100px;
  margin:45px 0;
}

#toptitle{
  margin-top:-30px
}

.searchBar {
  text-align: center;

  color: white;
  z-index: 1;
  margin-top:25px
}

#searchInput {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  font-size: 20px;


}